{
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "environment": {
    "browser": true,
    "es6": true
  },
  "plugins": [
    "react",
    "mocha"
  ],
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "eqeqeq": 2,
    "semi": [2, "never"],
    "no-var": 2,
    "no-unused-vars": 2,
    "quotes": [2, "single"],
    "prefer-const": 2,
    "prefer-template": 2,
    "no-trailing-spaces": 2,
    "no-mixed-spaces-and-tabs": 2,
    "indent": [2, 4, {"SwitchCase": 1}],
    "eol-last": 2,
    "mocha/no-exclusive-tests": 2,
    "mocha/no-skipped-tests": 2,
    "mocha/handle-done-callback": 2,
    "mocha/no-global-tests": 2
  }
}
