@import "~normalize.css";

$color1: #FEFFFF;
$color2: #DDF1F9;
$color3: #A0D8EF;

$gradientStart: $color1;
$gradientMiddle: $color2;
$gradientEnd: $color3;

$objectOutline: $color3;
$objectBackground: $color1;

$dark: darken($objectOutline, 20%);

$background: $color2;
$outline: $color3;
$button: $color1;

$corner: 5px;

.link {
  text-decoration: none;
  text-transform: uppercase;
  color: $dark;
}

.link.email {
  text-transform: lowercase;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: $background;
}

main.frontpage {
  background: url(../images/stallen.jpg) no-repeat center center fixed;
  background-size: cover;
  min-height: 100vh;

  text-align: center;

  div {
    background: $gradientStart linear-gradient(to bottom, $gradientStart 0%, $gradientMiddle 35%, $gradientEnd 100%);
    display: inline-block;
    border: solid 1px $outline;
    padding: 20px;
    margin-top: 50px;
    border-radius: $corner;

    text-align: center;

    h1 {
      padding: 0;
      margin: 0 50px 10px;
    }

    p {
      padding: 0;
      margin: 0 0 10px;
    }
  }

  a {
    display: inline-block;

    font-weight: bold;

    background: $button;
    color: black;

    position: absolute;
    bottom: 20px;
    right: 20px;

    padding: 10px;
    border-radius: $corner;
    border: solid 1px $outline;

    text-decoration: none;
  }
}

.page {
  h1 {
    padding: 20px 0 20px 20px;
    margin: 0;
    border-bottom: solid 1px $outline;
    background: $gradientStart linear-gradient(to bottom, $gradientStart 0%, $gradientMiddle 35%, $gradientEnd 100%);
  }
}

.list {
  @extend .page;
}

.detail {
  @extend .page;
}

.flexList {
  width: 100vw;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .object {
    margin: 10px;
    border: 1px solid $objectOutline;
    padding: 0;
    background-color: $objectBackground;
    border-radius: $corner;
    box-shadow: 2px 2px 2px 0px $dark;

    h2 {
      margin: 0;
      background-color: $objectOutline;
      padding: 5px 5px 5px 10px;

      a {
        text-decoration: none;
        color: black;
      }
    }

    h3 {
      margin: 10px 0 0 10px;
      padding: 0;
    }

    a {
      @extend .link;
    }

    dl {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    dt {
      flex: 1 1 22%;
      font-weight: bold;
      position: relative;
      padding-left: 10px;
      margin-top: 10px;
    }

    dd {
      flex: 1 1 78%;
      padding-left: 12px;
      margin: 10px 0 0;
    }

    p {
      padding: 0px;
      margin: 10px;

      a {
        display: inline-block;
        margin-right: 5px;
      }
    }

    p.actions {
      padding: 10px;
      margin: 0;
      border-top: solid 1px $objectOutline;

      a {
        @extend .link;
      }
    }
  }
}


.navigation {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  a {
    @extend .link;

    display: inline-block;
    padding: 10px;
    margin: 0 10px 10px;
    border-bottom-left-radius: $corner;
    border-bottom-right-radius: $corner;
    width: 100px;
    text-align: center;
    font-weight: bold;

    background-color: $outline;
    color: black;

    &.active {
      border-color: $outline;
      background-color: $button;
    }
  }
}

.objectList {
  @extend .flexList;

  .object {
    width: 350px;
  }
}

.objectWide {
  @extend .flexList;

  .object {
    width: 50%;
    min-width: 350px;
  }
}

.separator {
  display: block;
  height: 1px;
  background-color: $dark;
  margin: 20px;
  box-shadow: 0px 0px 2px 1px $dark;
}

@media print {
  body {
    background-color: white;
  }

  .list {
    h1 {
      background: white;
      border-bottom: solid 1px lightgrey;
      margin-bottom: 10px;
      font-size: 50px;
    }
  }

  .detail {
    h1 {
      background: white;
      border-bottom: solid 1px lightgrey;
      margin-bottom: 10px;
      font-size: 50px;
    }
  }

  .navigation {
    display: none;
  }

  .separator {
    background-color: lightgrey;
    box-shadow: none;
    margin: 5px;
  }

  .objectList {
    width: 100%;

    .object {
      box-shadow: none;

      width: 30%;

      h2 {
        background-color: lightgrey;
      }

      a {
        text-decoration: none;
        color: black;
        font-weight: normal;
      }

      border: solid 1px lightgrey;

      p.actions {
        display: none;
      }
    }
  }
}