$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
@import "~bootstrap-sass/assets/stylesheets/_bootstrap.scss";

@font-face {
  font-family: 'skater_parkregular';
  src: url('../fonts/skaterpark-webfont.eot');
  src: url('../fonts/skaterpark-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/skaterpark-webfont.woff2') format('woff2'),
  url('../fonts/skaterpark-webfont.woff') format('woff'),
  url('../fonts/skaterpark-webfont.ttf') format('truetype'),
  url('../fonts/skaterpark-webfont.svg#skater_parkregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

div.title {
  font-family: 'skater_parkregular', serif;

  h1 {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
  }

  a {
    text-decoration: none;
    color: black;

    :hover, :visited, :link, :active {
      text-decoration: none;
    }
  }
}

.jumbotron p {
  text-align: center;
}

img.banner {
  height: 300px;
}


span.print {
  display: none;
}

div.row.padded {
  margin-top: 20px;
}


.primary-btn {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.default-btn {
  @extend .btn;
  @extend .btn-default;
  @extend .btn-xs;
}

.warning-btn {
  @extend .btn;
  @extend .btn-warning;
  @extend .btn-xs;
}

.danger-btn {
  @extend .btn;
  @extend .btn-danger;
  @extend .btn-xs;
}

.info-btn {
  @extend .btn;
  @extend .btn-info;
  @extend .btn-xs;
}

@media(max-width:767px) {
  .small-table-sep {
    td {
      border-top-width: 4px !important;
    }
  }
}
.small-table-row {
  @extend .hidden-sm;
  @extend .hidden-md;
  @extend .hidden-lg;

  td.buttons {
    text-align: right;
  }
}


.small-nav {
  @extend .visible-xs;

  margin-top: 20px;
}

footer.footer {
  @extend .hidden-xs;

  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eeeeee;
  padding-top: 20px;
  border-top: solid 1px #dddddd;
}

@media print {
  @page {size: portrait}

  nav {
    display: none;
  }
  .no-print {
    display: none;
  }
  h1.title {
    font-family: 'skater_parkregular', serif;
  }
  span.print {
    display: inline;
  }
  body.admin main {
    margin-top: 0;
  }
}

body div.admin main {
  margin-top: 70px; // accommodate the navbar
}